:root {
  --bgcolor: rgb(0, 0, 0, 0.2);
}
.App.darkmode {
  --bgcolor: rgba(183, 170, 170, 0.2);
}

.usersform__error {
  color: #d33;
  font-size: 0.8rem;
  grid-column: 1/3;
  justify-self: center;
  text-align: center;
}

.usersform__container,
.loading__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  place-content: center;
  backdrop-filter: blur(2px);
  background-color: var(--bgcolor);
  z-index: 10;
}

.animate__zoomInDown,
.animate__zoomOutUp,
.loading__container {
  display: grid;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-deny {
  width: auto;
}
